
//.footer - _footer.pug
footer.footer

	.container

		p.footer-mb
			| 2019 © Fighting Goat Soap Co.<br />5141 Newton Street<br />Denver, CO 80221

		p.footer-mb
			| The statements made on our websites have not been evaluated by the FDA (U.S. Food &amp; Drug Administration). This product is not intended to diagnose, cure or
			br.d-none.d-xl-block
			| prevent any disease. The information provided by this website or this company is not a substitute for a face-to-face consultation with your physician, and should 
			br.d-none.d-xl-block
			| not be construed as individual medical advice. The testimonials on this website are individual cases and do not guarantee that you will get the same results.

	///container

///.footer












