// .header - _header.pug
header#home.header

	.header-content

		.header-top
			.container
				h6.text-white.fw-500.mb-0
					span.text-warning.fw-700
						| WARNING: 
					| Due to extremely high media demand, there is limited supply of Fighting Goat Soap in stock as of 
					span.text-warning.fw-700
						| August 1, 2019. 
					| HURRY! 
					span#time.text-warning.fw-700
						| 00:00:00

			///container
		///.header-top


		.header-bottom
			.container

				.d-flex.flex-row.align-items-center

					a.logo(href="#0").mr-3.mr-sm-auto
						img(src="https://fightinggoatassets.s3.us-east-2.amazonaws.com/trial/img/logo.png", alt="")


					p.mb-0.ml-auto.h5.bigger.fw-500.mr-4.d-none.d-md-block
						| Get Your Bottle Today

					a.header-bottom-btn
						img(src="https://fightinggoatassets.s3.us-east-2.amazonaws.com/trial/img/getbtnMain.png", alt="")

				///.d-flex.flex-row
			///.container
		///.header-bottom
		
	///.header-content
/// .header









