// Head
head
	// Meta
	meta(charset='utf-8')

	// Title
	title Title page

	// Viewport 
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	// Description 
	<meta name="description" content="description text">

	<meta name="author" content="author text">

	//- bootstrap 4.1.3
	link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")

	// Styles 
	+css('css/main.css')

	// Favicon 
	link(rel='apple-touch-icon', sizes='180x180', href='apple-touch-icon.png')
	link(rel='icon', type='image/png', sizes='32x32', href='favicon-32x32.png')
	link(rel='icon', type='image/png', sizes='16x16', href='favicon-16x16.png')
	link(rel='manifest', href='site.webmanifest')
	link(rel='mask-icon', href='safari-pinned-tab.svg', color='#393939')
	meta(name='msapplication-TileColor', content='#393939')
	meta(name='theme-color', content='#ffffff')


