// Scripts

// jQuery
script(src="https://fightinggoatassets.s3.us-east-2.amazonaws.com/trial/js/jquery-3.2.1.min.js")

// Owl carousel
script(src="https://fightinggoatassets.s3.us-east-2.amazonaws.com/trial/owlcarousel/owl.carousel.min.js")

// Framework
script(src="https://fightinggoatassets.s3.us-east-2.amazonaws.com/trial/https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
script(src="https://fightinggoatassets.s3.us-east-2.amazonaws.com/trial/js/bootstrap.min.js")

// Custom
script(src="https://fightinggoatassets.s3.us-east-2.amazonaws.com/trial/js/ouibounce.js")
script(src="https://fightinggoatassets.s3.us-east-2.amazonaws.com/trial/js/main.js")

