<!DOCTYPE html>
<html lang="en">
<!-- Head-->

<head>
	<!-- Meta-->
	<meta charset="utf-8">
	<!-- Title-->
	<title>Title page</title>
	<!-- Viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Description -->
	<meta name="description" content="description text">
	<meta name="author" content="author text">
	<!-- Google Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" />
	<!-- Material design iconic font-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" />
	<!-- Styles Owl Carousel -->
	<link rel="stylesheet" href="owlcarousel/owl.carousel.min.css" />
	<link rel="stylesheet" href="owlcarousel/owl.theme.default.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- Styles -->
	<link rel="stylesheet" href="css/main.css" />
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
	<link rel="manifest" href="site.webmanifest">
	<link rel="mask-icon" href="safari-pinned-tab.svg" color="#393939">
	<meta name="msapplication-TileColor" content="#393939">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<!-- .header - _header.pug-->
	<header class="header" id="home">
		<div class="header-content">
			<div class="header-top">
				<div class="container">
					<h6 class="text-white fw-500 mb-0"><span class="text-warning fw-700">WARNING: </span>Due to extremely high media demand, there is limited supply of Fighting Goat Soap in stock as of <span class="text-warning fw-700">August 1, 2019. </span>HURRY! <span class="text-warning fw-700" id="time">00:00:00</span></h6>
				</div>
				<!--/container-->
			</div>
			<!--/.header-top-->
			<div class="header-bottom">
				<div class="container">
					<div class="d-flex flex-row align-items-center">
						<a class="logo mr-3 mr-sm-auto" href="#0">
							<img src="img/logo.png" alt="">
						</a>
						<p class="mb-0 ml-auto h5 bigger fw-500 mr-4 d-none d-md-block">Get Your Bottle Today</p>
						<a class="header-bottom-btn">
							<img src="img/getbtnMain.png" alt="">
						</a>
					</div>
					<!--/.d-flex.flex-row-->
				</div>
				<!--/.container-->
			</div>
			<!--/.header-bottom-->
		</div>
		<!--/.header-content-->
	</header>
	<!--/ .header-->
	<!--.footer - _footer.pug-->
	<footer class="footer">
		<div class="container">
			<ul class="footer-list">
				<li><a href="#0">Terms &amp; Conditions</a>
				</li>
				<li><a href="#0">Privacy Policy</a>
				</li>
				<li><a href="#0">Contact Us</a>
				</li>
			</ul>
			<p class="footer-mb">2019 © Fighting Goat Soap US</p>
			<p class="footer-mb">The statements made on our websites have not been evaluated by the FDA (U.S. Food &amp; Drug Administration). This product is not intended to diagnose, cure or
				<br class="d-none d-xl-block">prevent any disease. The information provided by this website or this company is not a substitute for a face-to-face consultation with your physician, and should
				<br class="d-none d-xl-block">not be construed as individual medical advice. The testimonials on this website are individual cases and do not guarantee that you will get the same results.</p><a href="#0">UNSUBSCRIBE</a>
		</div>
		<!--/container-->
	</footer>
	<!--/.footer-->
	<!-- Scripts-->
	<!-- jQuery-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<!-- Owl carousel-->
	<script src="owlcarousel/owl.carousel.min.js"></script>
	<!-- Framework-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- Custom-->
	<script src="js/ouibounce.js"></script>
	<script src="js/main.js"></script>
</body>

</html>